<div class="container">
     <div class="row">
      <div class="col md-3"></div>
      <div class="col md-3">
          <input type="button" class="btn btn-primary" (click)="getAllCompanyCoupons()" value="Show Coupons">
      </div>
      <div class="col md-3">
          <button class="btn btn-success" (click)="openModal(couponCreate)">Create New Coupon</button>
      </div>
      <div class="col md-3"></div>
    </div>
  <div class="col col-md-3">
  </div>
  <div class="row">
    <div class="row" *ngIf="coupons">
      <div class="col col-md-3"></div>
    </div>
      <div class="col col-md-3"> 
      </div>
      <div class="col col-md-3">
      </div>
      <div class="col col-md-3">
      </div>
    <div class="col col-md-2"></div>
    <div class="col col-md-2"></div>
    <div class="col col-md-4"></div>
  </div>
  <div class="row text-center" *ngIf="coupons">
    <div class="col col-md-1"></div>
    <div class="col col-md-10">
      <table class="table" *ngIf="coupons">
        <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
          <th>Remove</th>
        </thead>
        <tbody>
          <tr  *ngFor="let coupon of coupons" [ngStyle]="{'background-color': coupon.updateFailure}">
            <td>
              <input type="text" value="{{coupon.id}}" disabled readonly/>
            </td>
            <td>
              <input type="text" value="{{coupon.title}}" disabled readonly/>
            </td>
            <td>
              <input type="date" [(ngModel)]="coupon.startDate" (change)="coupon.isUpdated = true" />
            </td>
            <td>
              <input type="date" [(ngModel)]="coupon.endDate" (change)="coupon.isUpdated = true" />
            </td>
            <td>
              <input type="text" [(ngModel)]="coupon.amount" (change)="coupon.isUpdated = true" />
            </td>
            <td>
              <input type="text" value="{{coupon.type}}">
            </td>
            <td>
              <input type="text" [(ngModel)]="coupon.message" (change)="coupon.isUpdated = true" />
            </td>
            <td>
              <input type="text" [(ngModel)]="coupon.price" (change)="coupon.isUpdated = true" />
            </td>
            <td>
              <input type="text" [(ngModel)]="coupon.image" (change)="coupon.isUpdated = true" />
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="coupon.isRemoved"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col col-md-1"></div>
  <div class="row">
    <div class="col md-3"></div>
    <div class="col md-3">
      <button class="btn btn-primary" (click)="updateSelectedCoupons()">Update Changed Coupons</button>
    </div>
    <div class="col md-3">
      <button class="btn btn-danger" (click)="removeSelectedCoupons()">Remove Selected Coupons</button>
    </div>
    <div class="col md-3"></div>
  </div>
  </div>
  <ng-template #couponCreate>
    <app-coupon-create [modalRef]="modalRef" ></app-coupon-create>
  </ng-template>
</div>