<div class="container text-center">
  <div class="row text-center">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">
      <h1>
        <strong>Beautiful Coupon Creation</strong>
      </h1>
    </div>
    <div class="col col-md-2"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      ID:
    </div>
    <div class="col col-md-3">
      <input type="text" [(ngModel)]="coupon.id" name="id" id="id">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      Title:
    </div>
    <div class="col col-md-3">
      <input type="text" [(ngModel)]="coupon.title" name="title" id="title">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      Start Date:
    </div>
    <div class="col col-md-3">
      <input type="date" [(ngModel)]="coupon.startDate" name="startDate" id="startDate">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      End Date:
    </div>
    <div class="col col-md-3">
      <input type="date" [(ngModel)]="coupon.endDate" name="endDate" id="endDate">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      Amount:
    </div>
    <div class="col col-md-3">
      <input type="text" [(ngModel)]="coupon.amount" name="amount" id="amount">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      Type:
    </div>
    <div class="col col-md-3">
      <select name="couponType" [(ngModel)]="coupon.type" id="couponType">
        <option *ngFor="let type of couponTypes | keys"  [value]="type.key">{{type.value}}</option>
      </select>
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      Description:
    </div>
    <div class="col col-md-3">
      <input type="text" [(ngModel)]="coupon.message" name="description" id="description">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      Price:
    </div>
    <div class="col col-md-3">
      <input type="text" [(ngModel)]="coupon.price" name="price" id="price">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-3">
      Image:
    </div>
    <div class="col col-md-3">
      <input type="text" [(ngModel)]="coupon.image" name="image" id="image">
    </div>
    <div class="col col-md-3"></div>
  </div>
  <div class="row">
      <div class="col col-md-4"></div>
      <div class="col col-md-4">
        <button class="btn btn-primary" (click)="createCoupon()">
          Create Coupon
        </button>
      </div>
      <div class="col col-md-4"></div>
    </div>
</div>